@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}

body {
    font-family: var(--sm-font);
}

/* button*/
.bg-primary{
    background-color: var(--pink) !important;
}

/*text color*/
.text-primary{
    color:var(--pink) !important;
}
/* navbar*/
.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0,0, 0.1);
}

.navbar-brand img{
    width: 30px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link:hover {
    color: var(--pink) !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0,0, 0.05);
}

/* header*/
#header{
    background: url(../images/banner-img-1.jpg) top/cover no-repeat;
}

.btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85,85,85);
    border-radius: 25px;
    border: 1px solid rgb(85,85,85) ;
    padding: 10px 28px;
}

.btn:not(.nav-btns button):hover {
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}

.carousel .btn {
    border-color: #fff;
}

.carousel .btn:hover {
    border-color: var(--pink);
}


/* Title*/
.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    /* can giua*/
    top:50%;
    transform: translateY(-50%);
}

/*Collection*/
.active-filter-btn {
    color: #fff !important;
    background-color: var(--pink) !important;
    border-color: var(--pink);
}

.collection-img span {
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}


.filter-button-group .btn:hover {
    color: #fff !important;
}


/* special */
.special-img span{
    top: 20px;
    right: 20px;
}

.special-list .btn{
    padding: 8px 20px !important;
}

.special-img img{
  
    transition: all 0.3s ease;
}

.special-img:hover img{
    transform: scale(1.2);
}

/*offers*/
#offers{
    background: url(../images/offer_img.jpg) center/cover no-repeat;
}

#offers .row{
    min-height: 60vh;;
}

.offers-content span {
    font-size: 20px;
}

.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}

.offers-content .btn{
   border-color: transparent !important;
}

#aboutus{
    background-color: rgba(179, 179,179, 0.05);
}

/* newsletter*/
#newsletter{
    background-color: rgba(179, 179,179, 0.05);
}

#newsletter p {
    max-width: 600px;
}

#newsletter .input-group{
    max-width: 500px;
}

#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#newsletter .btn {
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

#newsletter .btn:hover{
    background-color: #000;
    border: #000;
}


/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

footer a {
    transition: color 0.3s ease;
}

footer a:hover{
    color: var(--pink) !important;
}

/* Media queries*/
@media (min-width: 992px) {
    .nav-item {
        border-bottom: none;
    }
    
}